.info {
    height: 100vh;
    /* overflow: hidden; */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #256D85;
}

@media screen and (max-width: 981px) {
   .info {
    height: fit-content;
   }

}