.navbar {
    height: 70px;
    background-color: white;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 400;
  }
  
  .logo {
    font-size: 60px;
    font-weight: 700;
  }
  
  .list {
    display: flex;
    align-items: center;
    list-style: none;
  }
  
  .listItem {
    
    margin-right: 20px;
    font-weight: 500;
    cursor: pointer;
  }
  
  .avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
  }